.movie-title {
  color: white;
  text-decoration: underline;
}

.movie-description {
  color: white;
  text-align: center;
  margin-bottom: 45px;
}

.trailer-div {

  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.home-button {
  margin-right: 200px;
}

.all-trailer-page {
  background-image: url('/public/fond-cinema.jpg');
  height: 100vh;
  background-size: contain;
  overflow: hidden;
}


